---
import Layout from "../layouts/Layout.astro"

---
<Layout title="Sobre el Proyecto"> Pagina Principal
    <h1>Sobre el proyecto</h1>
    
    <p>El proyecto es desarrollado en Astro, Tailwind, React</p>
</Layout>