<a class="flex-row flex-col justify-center text-center focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg px-5 py-2.5 inline-flex items-center gap-x-2 group border border-white/30 relative cursor-pointer overflow-hidden whitespace-nowrap px-6 py-4 [background:var(--bg)] [border-radius:var(--radius)]  transition-all duration-300 hover:scale-105 hover:shadow-[0_0_40px_8px_rgba(62,61,117,0.7)] ">
    <slot name="before"/>
    <slot>contenido por defecto by:toñe</slot>
    <slot name="after"/>
</a>